@import 'https://fonts.googleapis.com/css?family=Roboto';

header {
  font-size: 36px;
  line-height: 40px;
  width: 100%;
  font-weight: bold;
  color: black;
  font-family: 'Roboto', sans-serif;
  position: relative;
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
